*{
    margin: 0%;
    padding: 0%;
}

/*############################## Sign-Up Login-in ##############################*/

.form-border{
    border: 1px solid black!important;
}

/*############################## Main ##############################*/

.Logout-button-margin{
    margin: 4% 3%;
}

.button-hover:hover{
    background-color: #ff1a1a;
    color: #ffff!important;
}

.button-hover.active{
    background-color: #0066cc;
    color: #ffff!important;
}

/*############################## Main --> Doctors ##############################*/
[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}